.underlined-Hypothesis {
    text-align: center;
    text-decoration: underline;
  }
  
  .underlined-project-title {
    text-align: center;
    text-decoration: underline;
  }
  .underlined-visualisation {
    text-align: center;
    text-decoration: underline;
  }
  .thirdimage {
    text-align: center;
    margin: 20px 0;
  }
  
  .underlined-Hypothesis {
    text-align: center;
    text-decoration: underline;
  }
  
  
  
  